[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
asyncio = "*"
discord-py = {ref = "rewrite", git = "https://github.com/Rapptz/discord.py"}
wolframalpha = "*"

[dev-packages]

[requires]
python_version = "3.6"
